[Unit]
Description=Daily backup for evdb database %I

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=2h
Unit=evdb-backup@%i.service

[Install]
WantedBy=timers.target
