[Unit]
Description=Weekly Evanovation Restic maintenance for %i

[Timer]
OnCalendar=Sun *-*-* 02:00:00
Persistent=true
RandomizedDelaySec=12h
FixedRandomDelay=true
AccuracySec=5m
Unit=evanovation-db-weekly@%i.service

[Install]
WantedBy=timers.target
