name: evanovation-db-traefik

services:
  traefik:
    image: {{ host.images.traefik }}
    container_name: evanovation-db-traefik
    restart: unless-stopped
    command:
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --providers.docker.network=traefik-net
      - --entrypoints.postgres.address=:5432
      - --entrypoints.redis.address=:6379
    ports:
      - "5432:5432/tcp"
      - "6379:6379/tcp"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - traefik-net

networks:
  traefik-net:
    external: true
    name: traefik-net
