[databases]
* = host={{ instance.container }} port=5432

[pgbouncer]
listen_addr = 0.0.0.0
listen_port = 5432
auth_type = plain
auth_file = /run/secrets/pgbouncer-users
max_client_conn = {{ instance.settings.max_clients }}
default_pool_size = {{ instance.settings.pool_size }}
reserve_pool_size = {{ instance.settings.reserve_size }}
ignore_startup_parameters = extra_float_digits
